nav{
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px;

}
.logo img{
width: 150px;
height: auto;
}

.center-nav{
display: flex;


}

.search {
    display: flex;
}

.search input{
    min-width: 600px;
    padding: 10px 20px;
    border: 0.5 solid #ccc;
}

.search button {
    border: none;
    padding: 10px 20px;
}

.mic {
    padding: 15px;
    border-radius: 50%;
    background-color: rgb(240, 239, 239);
display: grid;
place-items: center;
margin-left: 15px;

}

.mic img {
    width: 30px;
}

.side-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-right: 50px;
}
.div{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 700px;
    bottom:1910px;
}
.tags {
display: flex;
padding: 10px 20px;
gap: 15px;
  border: 1px solid #ccc;
  position: relative;
left: 120px;
bottom: 300px;
}

.tag {
    padding: 5px 15px;
    border-radius: 20px;

    border-top: 1px solid rgb(22, 22, 22);
}

.dark {
    background-color: #000 ;
    color: white;
}

.light {
    background-color: rgb(238,238,238,
);
color: rgb(67,67, 67);
}

.cantainer {
    display: flex;
}

.aside{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}


.aside-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aside-icons img{
    width: 30px;
}

.aside-icons p{
    font-size: 10px;
    margin-top: -5px;
}

.bars{
    margin-top: 20px;
}

.min-container{
    width: 100px;
}


main{
    position: relative;
    left: 100px;
    bottom: 260px;
    min-height: 1vh ;
    width: 0px;
background-color: rgb(248,238,238);
}


.card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr);
}

